.min-h-300px {
    min-height: 300px;
}

.card-file-action-wrapper {
    position: relative;
}

.card-file-actions {
    display: none;
    position: absolute;
    top: 3%;
    right: 7%;
}

.card-file-action-wrapper:hover .card-file-actions {
    display: flex;
}
